@if (isOpen) {
  <div class="chat-overlay">
    <div class="chat-box">
      <div class="chat-header">
        <h3>Chat</h3>
        <button class="close-btn" (click)="close()">X</button>
      </div>

      <div class="chat-messages">
        @for (msg of messages; track msg) {
          <div [ngClass]="{'bot-message': msg.from==='bot', 'user-message': msg.from==='user'}">
            {{ msg.text }}
          </div>
        }
      </div>

      <input
        #chatInput
        type="text"
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
        placeholder="Escreva sua mensagem..."
      />
    </div>
  </div>
}
